/* .post-content p,
.post-content div {
  text-indent: 2em !important; 
  margin: 0.6em 0; 
}

.post-content pre,
.post-content blockquote,
.post-content table,
.post-content ul,
.post-content ol,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  text-indent: 0 !important; 
}

html[data-user-color-scheme="dark"] .post-content p,
html[data-user-color-scheme="dark"] .post-content div {
  text-indent: 2em !important;
} */